@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Backgroung Color */
  --bg-white: hsl(0, 0%, 100%);
  --bg-black-alpha-20: #00000033;
  /* --bg-lavender-blush: #fff5f5; */
  /* --bg-majorelle-blue: #6247fa; */
  --bg-ocean-blue: #5640d4;
  --bg-majorelle-blue-alpha-5: #6247fa0d;
  --bg-misty-rose: #ffe5e5;
  --bg-red-salsa: #f94851;
  --bg-red-salsa-alpha-5: #f948510d;
  --bg-english-vermillion: #d43a42;
  --bg-chrome-yellow-alpha-5: #ffaa000d;
  --bg-sunglow-alpha-10: #ffcc001a;
  --bg-gainsboro: #d9d9d9;
  /* fdf1f1  #fff3f3 */
  /* Text Color */
  /* --text-white: #ffffff; */
  /* --text-gunmetal: #152432; */
  /* --text-light-coral: #fc787f; */
  /* --text-granite-gray: #5d6165; */
  --text-majorelle-blue: hsl(249, 95%, 63%);
  --text-sunglow: hsl(48, 100%, 50%);

  /* Border Color */
  --border-gainsboro: hsl(0, 1%, 85%);

  /* Box Shadow */
  --shadow-1: 0 2px 10px hsla(209, 40%, 14%, 10%);
  --shadow-2: 0 5px 10px hsla(249, 95%, 63%, 25%);
  --shadow-3: 0 5px 10px hsla(357, 64%, 53%, 25%);
  --shadow-4: 0 30px 50px hsla(357, 64%, 53%, 30%);
  --samp: #f8858b25;
}
