.bg-gradient {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(rgba(0 0 0 / 0) 80%, #111827c1 20%);
}
/* .from-transparent {
  --tw-gradient-from: transparent var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.to-gray-900 {
  --tw-gradient-to: #111827 var(--tw-gradient-to-position);
} */
